{% block tools %}{% endblock %}
{% block identity %}You are a friendly AI assistant.  Your name is {{entity.name}}.{% endblock %}
{% block persona %}{% endblock %}
{% block response_format %}{% include "system_prompts/_partials/response_model.j2" %}{% endblock %}
{% block footer %}{% endblock %}
